
  <a style="font-weight:bold ;font-size: medium ">Zone</a>
  <br>
  
  <br>
  
  <mat-form-field>
    <input matInput placeholder="Rechercher"class="search" (keyup)="applyFilter($event.target.value)">
  </mat-form-field>
  
  
  <button (click)="openDialog('Ajouter',{})" class="btn btn-success" style="float: right; width:200px"><i class="far fa-plus-square"></i>  Ajouter </button><br>
  
  
  
    <table mat-table [dataSource]="dataSource" (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let zoneData"> {{zoneData.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let zoneData"> {{zoneData.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Code Postal">
        <th mat-header-cell *matHeaderCellDef> Code Postal </th>
        <td mat-cell *matCellDef="let zoneData"> {{zoneData.code.code}} </td>
      </ng-container>

      <ng-container matColumnDef="Emplacement">
        <th mat-header-cell *matHeaderCellDef> Emplacement </th>
        <td mat-cell *matCellDef="let zoneData"> {{zoneData.code.name}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let zoneData" class="action-link"> 
          <button (click)="openDialog('Modifier',zoneData)"><i class="far fa-edit"></i></button> | 
          <button (click)="openDialog('Supprimer',zoneData)"><img src="assets/images/delete.JPG"></button>  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  