<div class="header">
    <h2 mat-dialog-title>{{action}} Zone</h2>
    
    </div>
    <br>
    <mat-form-field *ngIf="(action == 'Ajouter')">
      <label>Nom</label>
      <input style="width: 98px ; margin-left: 58px;"placeholder="{{action}} Name"  [(ngModel)]="local_data.name" matInput >
      <br>

      <label>Code Postal</label>
      <select style="margin-left: 10px;" matInput  [(ngModel)]="local_data.code">
        <option  *ngFor="let c of CodePostal" [ngValue]="c.name">{{c.name}}</option>
      </select>
    </mat-form-field>
    
   
    
    <mat-form-field *ngIf="action == 'Modifier'">
        <label>Nom</label>
        <input style="width: 98px ; margin-left: 58px;"placeholder="{{action}} Name"  [(ngModel)]="local_data.name" matInput >
        <br>

        <label>Code Postal</label>
        <select style="margin-left: 10px;" matInput  [(ngModel)]="local_data.code.name">
          <option  *ngFor="let c of CodePostal" [ngValue]="c.name">{{c.name}}</option>
        </select>
      </mat-form-field>

      <mat-form-field *ngIf="action == 'Supprimer'">
    
        Vous etes sure de supprimer<b>{{local_data.name}}</b>?
     
    </mat-form-field>

    <div mat-dialog-actions>
      <button style="margin-left: 40px" mat-button (click)="closeDialog()" >Cancel</button>
      <button mat-button (click)="doAction()" mat-flat-button color="warn">{{action}} </button>
   
    </div>

    