
  <a style="font-weight:bold ;font-size: medium ">Bookings</a>
  <br>
  
  <br>
  
  <mat-form-field>
    <input matInput placeholder="Rechercher"class="search" (keyup)="applyFilter($event.target.value)">
  </mat-form-field>
  
  
  
  
    <table mat-table [dataSource]="dataSource" (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Id Column -->

  
      <!-- Name Column -->
      <ng-container matColumnDef="Numéro de commande">
        <th mat-header-cell *matHeaderCellDef> Numéro de commande </th>
        <td mat-cell *matCellDef="let bookingData"> {{bookingData.numCommande}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Client">
        <th mat-header-cell *matHeaderCellDef> Client </th>
        <td mat-cell *matCellDef="let bookingData"> {{bookingData.client.worning}} </td>
      </ng-container>

      <ng-container matColumnDef="Emplacement">
        <th mat-header-cell *matHeaderCellDef> Emplacement </th>
        <td mat-cell *matCellDef="let bookingData"> {{bookingData.tarif.zone.name}} </td>
      </ng-container>

      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let bookingData"> {{bookingData.date}} </td>
      </ng-container>

      <ng-container matColumnDef="Nom Station">
        <th mat-header-cell *matHeaderCellDef> Nom Station </th>
        <td mat-cell *matCellDef="let bookingData"> {{bookingData.StationName}} </td>
      </ng-container>

      <ng-container matColumnDef="Taille">
        <th mat-header-cell *matHeaderCellDef> Taille </th>
        <td mat-cell *matCellDef="let bookingData"> {{bookingData.tarif.taille.name}} </td>
      </ng-container>

      <ng-container matColumnDef="Zone">
        <th mat-header-cell *matHeaderCellDef> Zone </th>
        <td mat-cell *matCellDef="let bookingData"> {{bookingData.tarif.zone.name}} </td>
      </ng-container>

      <ng-container matColumnDef="Prix">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let bookingData"> {{bookingData.tarif.price}} </td>
      </ng-container>

      <ng-container matColumnDef="Statut">
        <th mat-header-cell *matHeaderCellDef> Statut </th>
        <td mat-cell *matCellDef="let bookingData"> {{bookingData.statut}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  