<div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item" style="margin-left: 220px;">
        <a class="nav-link" routerLink="../dashboard/bar-chart">Bookings par zone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../dashboard/line-chart">Bookings par jour</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" routerLink="../dashboard/pie-chart">Bookings par client</a>
      </li>
    </ul>
    <div>
        <router-outlet></router-outlet>
      
    </div>
  </div>
  
  
  